<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Default">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <html outputDirectory=".coverage/html"/>
      <clover outputFile=".coverage/clover.xml"/>
      <cobertura outputFile=".coverage/cobertura.xml"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile=".coverage/report.xml"/>
  </logging>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
    <env name="MAIL_DRIVER" value="array"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
